@charset "UTF-8";

@use 'components/reset';
@use 'components/variables';
@use 'components/header';
@use 'components/interactive';
@use 'components/grid';
@use 'components/footer';

* {
    font-family: variables.$Josefin-Sans;
}

.main {
    margin: 6rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.attribution {
    display: none;
}

@media screen and (min-width: 1024px) {
    .main {
        margin: 10rem 10.5rem 12rem;
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: 11.5rem;
        max-width: 1210px;
    }   
}

@media screen and (min-width: 1440px) {
    .main {
        margin: 10rem auto 12rem;
    }   
}